@font-face {
  font-family: fira-code;
  src: url(C:\Users\hughesda\Documents\Portfolio\fonts\Fira_Code\FiraCode-VariableFont_wght.ttf);
}

body {
  font-family: fira-code;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1.2fr 0.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}

.board {
  background-color: black;
  width: 100%;
  height: 200px;
}

.ball, .paddle1, .paddle2 {
  background-color: white;
}

.paddle1, .paddle2 {
  width: 10px;
  height: 15px;
}

.ball {
  position: absolute;
  top: 200px;
  right: 50px;
}

.paddle1 {
  position: absolute;
  top: 25px;
  left: 25px;
}

header {
  grid-area: header;
}

.jumbotron {
  background-image: url(https://hackernoon.imgix.net/images/f2px36fy.gif);
  background-size: cover;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "about-me about-me about-me"
    "skills projects projects"
    "skills projects projects";
  grid-area: main;
}

.about-me {
  grid-area: about-me;
  background-color: aqua;
}

.skills {
  grid-area: skills;
  background-color: beige;
}

.projects {
  grid-area: projects;
  background-color: blue;
}

footer {
  grid-area: footer;
  background-color: brown;
}

.rounded-circle {
  max-width: 25%;
}
