@font-face {
  font-family: fira-code;
  src: url(fonts\Fira_Code\FiraCode-VariableFont_wght.ttf);
}

body {
  font-family: fira-code;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1.2fr 0.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}
.kotlin-logo {
  width: 1.5em;
}

header {
  grid-area: header;
}

.jumbotron {
  background-image: url(https://hackernoon.imgix.net/images/f2px36fy.gif);
  background-size: cover;
  color: white;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "about-me about-me about-me"
    "skills projects projects"
    "skills projects projects";
  grid-area: main;
}

.about-me {
  grid-area: about-me;
  background-color: aqua;
}

.skills {
  grid-area: skills;
  background-color: beige;
}

.projects {
  grid-area: projects;
  background-color: blue;
}

footer {
  grid-area: footer;
  background-color: brown;
}

.rounded-circle {
  max-width: 25%;
}
