@font-face {
    font-family: fira-code;
    src: url(C:\Users\hughesda\Documents\Portfolio\fonts\Fira_Code\FiraCode-VariableFont_wght.ttf);
}

body {
    font-family: fira-code;
}

.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.2fr 0.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header"
      "main main main"
      "footer footer footer";
  }
  
  header { grid-area: header; }
  
  main {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "about-me about-me about-me"
      "skills projects projects"
      "skills projects projects";
    grid-area: main;
  }
  
  .about-me { grid-area: about-me; }
  
  .skills { grid-area: skills; }
  
  .projects { grid-area: projects; }
  
  footer { grid-area: footer; }


.rounded-circle  {
    max-width: 25%;
}

